.popupDiv {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); // semi-transparent background
  display: 'flex';
  align-items: center;
  justify-content: center;
  z-index: 1000 // Ensure it's in front of other elements
}

h1 {
  font-size: 36px;
  padding: 20px;
}

.popup {
  color:black;
  opacity: 0.9;
  border: 2px solid #ffffff;
  font-size: 28px;
  border-radius: 30px;
  position: absolute !important;
  top: 30%;
  left: 34%;
  width: 600px;
  height: 500px;
  background-color: white;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
}

.closebtn {
  background-color: rgb(24, 182, 37);
  opacity: 0.8;
  border: 2px solid #fff;
  height: 50px;
  width: 200px;
  border-radius: 30px;
  padding: 20px;
  font-family: "Inter", sans-serif;
  letter-spacing: 2px;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 24px;
  margin: auto;
  align-items: center;
}

.question > h4 {
  padding-bottom: 30px;
}

.question > table, .button {
  width: 100%;
  height: 100px;
}

.quest {
  margin-bottom: 20px;
  text-align: left;
}

.quest > h3 {
  background-color: #084408;
  color: white;
  padding: 10px;
}

.quest > div {
  padding: 20px;
  font-size: 20px;
}
