
.AccountSite {
  background-image: url("../assets/img/background.jpg");
  height:100vb;
  width: 100%;
  display:flex;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;
  background-position: -150px auto;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.MyAccountMain {
    background-color: #ffffff;
    border-radius: 25px;
    border: 4px solid #084408;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    max-width: 420px;
    height: 520px;
    padding: 20px;
    text-align: center;
  }
  
  .MyAccountMain h2 {
    color: #084408;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .UserName, .UserEmail, .UserPassword, .UserPasswordConfirmation {
    text-align: left;
    margin-bottom: 15px;
  }
  
  .UserName label, .UserEmail label, .UserPassword label, .UserPasswordConfirmation label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 370px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    background-color: #084408; /* Green */
    border-radius: 25px;
    border: 1px solid #084408;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-bottom: 20px;
  }

  .EditBtn {
    position: relative;
    float: left;
  }

  .SaveBtn {
    position: relative;
    float: right;
  }

  .SaveBtn:disabled {
    background-color: #929dab;
    color: black;
    border: 1px solid #8d949a;
  }

  .DeleteBtn {
    position: relative;
    width: 100%;
    background-color: #8c0c0c;
    color: white;
    border: 1px solid #852f2f;
  }


    
  .ReturnHomeButton {
    margin-top: 20px;
  }
  
  .ReturnHomeButton a {
    background-color: #084408; /* Green */
    border-radius: 25px;
    border: 1px solid #084408;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: fit-content;
    display: block;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .EditBtn:hover, .SaveBtn:hover {
    background-color: rgb(72, 151, 69);
  }

  .DeleteBtn:hover {
    background-color: #b62525;
  }
