nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(135deg, #084408, #176a17);
  padding: 1.25rem 5rem;
  box-shadow: 0 0.313rem 0.938rem rgba(0, 0, 0, 0.06);
  height: 70px;

  .logo-wrapper {
    height: 100%;

    img {
      max-height: 100%;
    }
  }
}

.icon {
  * {
    color: white;
  }
}

.nav-main {
  display: flex;
  align-items: center;
  justify-content: center;

  li {
    list-style: none;
    padding: 0 1.25rem;
    position: relative;
    display: flex;
    gap: 8px;
    align-items: center;

    &:active,
    &:hover {
      color: rgb(72, 151, 69);
    }

    a {
      text-decoration: none;
      font-size: 1.3rem;
      font-weight: 600;
      color: white;
      transition: 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        // content: "";
        // width: fit-content;
        // height: 2px;
        color: rgb(72, 151, 69);
        // position: absolute;
        // bottom: -4px;
        // left: 20px;
      }
    }
  }
}
